# NYC Trees Project

In [ ]:
# Importing libraries
import pandas as pd
import numpy as np

In [ ]:
# !pip install sodapy

In [ ]:
# Create a dataset of size 684000
%run '/home/ms/BeCode/ANT-Theano-2-27/additional_resources/datasets/NYC Trees/download.py'

In [57]:
df = pd.read_csv('data_684000.csv')

In [58]:
df.head()

,created_at,tree_id,block_id,the_geom,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,...,st_assem,st_senate,nta,nta_name,boro_ct,state,latitude,longitude,x_sp,y_sp
0,08/27/2015,180683,348711,POINT (-73.84421521958048 40.723091773924274),3,0,OnCurb,Alive,Fair,Acer rubrum,...,28,16,QN17,Forest Hills,4073900,New York,40.723092,-73.844215,1.027431e+06,202756.768749
1,09/03/2015,200540,315986,POINT (-73.81867945834878 40.79411066708779),21,0,OnCurb,Alive,Fair,Quercus palustris,...,27,11,QN49,Whitestone,4097300,New York,40.794111,-73.818679,1.034456e+06,228644.837379
2,09/05/2015,204026,218365,POINT (-73.93660770459083 40.717580740099116),3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,50,18,BK90,East Williamsburg,3044900,New York,40.717581,-73.936608,1.001823e+06,200716.891267
3,09/05/2015,204337,217969,POINT (-73.93445615919741 40.713537494833226),10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,53,18,BK90,East Williamsburg,3044900,New York,40.713537,-73.934456,1.002420e+06,199244.253136
4,08/30/2015,189565,223043,POINT (-73.97597938483258 40.66677775537875),21,0,OnCurb,Alive,Good,Tilia americana,...,44,21,BK37,Park Slope-Gowanus,3016500,New York,40.666778,-73.975979,9.909138e+05,182202.425999

In [59]:
df.shape

(683788, 42)

In [61]:
#df.dtypes

In [62]:
df.columns

Index(['created_at', 'tree_id', 'block_id', 'the_geom', 'tree_dbh',
       'stump_diam', 'curb_loc', 'status', 'health', 'spc_latin', 'spc_common',
       'steward', 'guards', 'sidewalk', 'user_type', 'problems', 'root_stone',
       'root_grate', 'root_other', 'trnk_wire', 'trnk_light', 'trnk_other',
       'brnch_ligh', 'brnch_shoe', 'brnch_othe', 'address', 'zipcode',
       'zip_city', 'cb_num', 'borocode', 'boroname', 'cncldist', 'st_assem',
       'st_senate', 'nta', 'nta_name', 'boro_ct', 'state', 'latitude',
       'longitude', 'x_sp', 'y_sp'],
      dtype='object')

In [63]:
# Remove unnecessary columns
df.drop(['created_at', 'block_id', 'curb_loc', 'status', 'health', 'steward', 'guards', 'sidewalk', 'user_type', 'problems', 'root_stone',
         'root_grate', 'state', 'root_other', 'trnk_wire', 'trnk_light', 'trnk_other', 'brnch_ligh', 'brnch_shoe', 'brnch_othe', 'zip_city', 'boro_ct'
        ], axis =1, inplace = True)

In [64]:
df.shape

(683788, 20)

In [65]:
# Reset index
df.reset_index(drop=True)

,tree_id,the_geom,tree_dbh,stump_diam,spc_latin,spc_common,address,zipcode,cb_num,borocode,boroname,cncldist,st_assem,st_senate,nta,nta_name,latitude,longitude,x_sp,y_sp
0,180683,POINT (-73.84421521958048 40.723091773924274),3,0,Acer rubrum,red maple,108-005 70 AVENUE,11375,406,4,Queens,29,28,16,QN17,Forest Hills,40.723092,-73.844215,1.027431e+06,202756.768749
1,200540,POINT (-73.81867945834878 40.79411066708779),21,0,Quercus palustris,pin oak,147-074 7 AVENUE,11357,407,4,Queens,19,27,11,QN49,Whitestone,40.794111,-73.818679,1.034456e+06,228644.837379
2,204026,POINT (-73.93660770459083 40.717580740099116),3,0,Gleditsia triacanthos var. inermis,honeylocust,390 MORGAN AVENUE,11211,301,3,Brooklyn,34,50,18,BK90,East Williamsburg,40.717581,-73.936608,1.001823e+06,200716.891267
3,204337,POINT (-73.93445615919741 40.713537494833226),10,0,Gleditsia triacanthos var. inermis,honeylocust,1027 GRAND STREET,11211,301,3,Brooklyn,34,53,18,BK90,East Williamsburg,40.713537,-73.934456,1.002420e+06,199244.253136
4,189565,POINT (-73.97597938483258 40.66677775537875),21,0,Tilia americana,American linden,603 6 STREET,11215,306,3,Brooklyn,39,44,21,BK37,Park Slope-Gowanus,40.666778,-73.975979,9.909138e+05,182202.425999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
683783,155433,POINT (-73.95494401022562 40.7132107823145),25,0,Quercus palustris,pin oak,32 MARCY AVENUE,11211,301,3,Brooklyn,34,53,18,BK73,North Side-South Side,40.713211,-73.954944,9.967407e+05,199121.636255
683784,183795,POINT (-73.85665019989099 40.71519444267162),7,0,Cladrastis kentukea,Kentucky yellowwood,67-035 SELFRIDGE STREET,11375,406,4,Queens,29,28,15,QN17,Forest Hills,40.715194,-73.856650,1.023989e+06,199873.647547
683785,166161,POINT (-74.13651724205825 40.62076152739799),12,0,Acer rubrum,red maple,130 BIDWELL AVENUE,10314,501,5,Staten Island,50,63,24,SI07,Westerleigh,40.620762,-74.136517,9.463514e+05,165466.076270
683786,184028,POINT (-73.90311472453581 40.850828186655754),9,0,Acer rubrum,red maple,1985 ANTHONY AVENUE,10457,205,2,Bronx,15,86,33,BX41,Mount Hope,40.850828,-73.903115,1.011054e+06,249271.950653
683787,200607,POINT (-73.78752645502483 40.73216525220126),23,0,Acer rubrum,red maple,69-069 183 STREET,11365,408,4,Queens,24,25,11,QN41,Fresh Meadows-Utopia,40.732165,-73.787526,1.043136e+06,206095.538318

In [66]:
df.columns

Index(['tree_id', 'the_geom', 'tree_dbh', 'stump_diam', 'spc_latin',
       'spc_common', 'address', 'zipcode', 'cb_num', 'borocode', 'boroname',
       'cncldist', 'st_assem', 'st_senate', 'nta', 'nta_name', 'latitude',
       'longitude', 'x_sp', 'y_sp'],
      dtype='object')

In [67]:
# Change column names

df.rename(columns={'tree_id': 'Tree ID', 'the_geom': 'Geometry', 'tree_dbh': 'Tree dbh', 'stump_diam': 'Stump diameter',
                   'spc_latin': 'Scientific name', 'spc_common': 'Common name', 'address': 'Address', 'zipcode': 'Zip code', 'cb_num': 'Community Board',
                   'borocode': 'Borough code', 'boroname': 'Borough Name', 'cncldist': 'NYC Council District',
                   'st_assem':'NYC State Assembly', 'st_senate': 'State Senate District', 'nta': 'NTA', 'nta_name': 'NTA Name',
                   'latitude': 'Latitude', 'longitude': 'Longitude', 'x_sp': 'X coordinates', 'y_sp':'Y coordinates'}, inplace=True)

Tree ID                                                         204026
Geometry                 POINT (-73.93660770459083 40.717580740099116)
Tree dbh                                                             3
Stump diameter                                                       0
Scientific name                     Gleditsia triacanthos var. inermis
Common name                                                honeylocust
Address                                              390 MORGAN AVENUE
Zip code                                                         11211
Community Board                                                    301
Borough code                                                         3
Borough Name                                                  Brooklyn
NYC Council District                                                34
NYC State Assembly                                                  50
State Senate District                                               18
NTA                                                               BK90
NTA Name                                             East Williamsburg
Latitude                                                     40.717581
Longitude                                                   -73.936608
X coordinates                                            1001822.83131
Y coordinates                                            200716.891267
Name: 2, dtype: object

In [81]:
# Reposition address column in the dataset
df.insert(15, 'Geometry', df.pop('Geometry'))
df.insert(5, 'Address', df.pop('Address'))

In [82]:
df.loc[2]

Tree ID                                                         204026
Tree dbh                                                             3
Stump diameter                                                       0
Scientific name                     Gleditsia triacanthos var. inermis
Common name                                                honeylocust
Address                                              390 MORGAN AVENUE
Zip code                                                         11211
Community Board                                                    301
Borough code                                                         3
Borough Name                                                  Brooklyn
NYC Council District                                                34
NYC State Assembly                                                  50
State Senate District                                               18
NTA                                                               BK90
NTA Name                                             East Williamsburg
Geometry                 POINT (-73.93660770459083 40.717580740099116)
Latitude                                                     40.717581
Longitude                                                   -73.936608
X coordinates                                            1001822.83131
Y coordinates                                            200716.891267
Name: 2, dtype: object

In [84]:
# Checking for Nan Values
df.isnull().sum()

Tree ID                      0
Tree dbh                     0
Stump diameter               0
Scientific name          31619
Common name              31619
Address                      0
Zip code                     0
Community Board              0
Borough code                 0
Borough Name                 0
NYC Council District         0
NYC State Assembly           0
State Senate District        0
NTA                          0
NTA Name                     0
Geometry                     0
Latitude                     0
Longitude                    0
X coordinates                0
Y coordinates                0
dtype: int64

In [85]:
# Replace NaN values
df['Scientific name'].fillna('Unknown', inplace=True)
df['Common name'].fillna('Unknown', inplace=True)

In [87]:
df.head()

,Tree ID,Tree dbh,Stump diameter,Scientific name,Common name,Address,Zip code,Community Board,Borough code,Borough Name,NYC Council District,NYC State Assembly,State Senate District,NTA,NTA Name,Geometry,Latitude,Longitude,X coordinates,Y coordinates
0,180683,3,0,Acer rubrum,red maple,108-005 70 AVENUE,11375,406,4,Queens,29,28,16,QN17,Forest Hills,POINT (-73.84421521958048 40.723091773924274),40.723092,-73.844215,1.027431e+06,202756.768749
1,200540,21,0,Quercus palustris,pin oak,147-074 7 AVENUE,11357,407,4,Queens,19,27,11,QN49,Whitestone,POINT (-73.81867945834878 40.79411066708779),40.794111,-73.818679,1.034456e+06,228644.837379
2,204026,3,0,Gleditsia triacanthos var. inermis,honeylocust,390 MORGAN AVENUE,11211,301,3,Brooklyn,34,50,18,BK90,East Williamsburg,POINT (-73.93660770459083 40.717580740099116),40.717581,-73.936608,1.001823e+06,200716.891267
3,204337,10,0,Gleditsia triacanthos var. inermis,honeylocust,1027 GRAND STREET,11211,301,3,Brooklyn,34,53,18,BK90,East Williamsburg,POINT (-73.93445615919741 40.713537494833226),40.713537,-73.934456,1.002420e+06,199244.253136
4,189565,21,0,Tilia americana,American linden,603 6 STREET,11215,306,3,Brooklyn,39,44,21,BK37,Park Slope-Gowanus,POINT (-73.97597938483258 40.66677775537875),40.666778,-73.975979,9.909138e+05,182202.425999